doctype html
html 
    head 
        title Login Form 
    body 
        h1  Login Details 
        form(method="post", action="/login") 
            b Username 
            input(type="text", name="username") 
            br 
            b Password 
            input(type="number", name="password")
    
            
